<br><div class="homepage_container">
    <h1 class="homepage_left"><%= link_to "Artists", artists_path%></h1>
    <h1 class="homepage_center"><%= link_to "Concerts", concerts_path(@concerts)%></h1>
    <h1 class="homepage_right"><%= link_to "Venues", venues_path(@venues)%></h1>
</div>
