
<br><h3>Bio:</h3>
<div class="bio_container">
    <p><%= @user.bio %></p>
</div><br>
<button class="perma_buttons"><%= link_to "Edit", edit_user_path(@user) %></button>
<!--<h2><%= link_to "Back to Main", hometune_path %></h2>-->