<h1>Venues</h1><br><br><br>

<%= button_to "Alphabetized", button_path, method: :post%><br><br>

<% @venues.each do |venue| %>
    <div class="image_container">
        <img src=<%= venue.img_url %>>
    </div>
    <h2><%= link_to venue.name, venue %></h2>
    <h4>Location: <%= venue.location %></h4>
    <br><hr class="divider" width="500px" align="left" ><br><br>
    
<% end %>
    