// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background: lightsteelblue
}

a {
    color:rgb(255, 102, 0);
    text-decoration: none;
}

h2 {
    color: rgb(16, 16, 80);
}

h3 {
    color: rgb(16, 16, 80);
}

h4 {
    color: rgb(16, 16, 80);
}

p {
    color: rgb(16, 16, 80);
}

h2 a {
    font-size: 35px;
}

a:hover {
    color:rgb(255, 60, 0);
}


button {
    background: rgb(129, 147, 170);
}
h1 {
	display: inline;
	position: relative;
	font: 80px Helvetica, Sans-Serif;
	letter-spacing: -5px;
    color: orange; 
    text-align: center;
    text-shadow: 3px 3px gold;
}

.divider {
    border-top: 8px solid yellow;
    border-radius: 5px;
}

.comment_divider {
    border-top: 1px solid rgb(221, 230, 241);
}

.comment_container {
    border: none;
    padding: 8px;
    background-color: rgb(221, 230, 241);
    text-align: left;
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.artist_pic {
    border: none;
    height: 500px;
    width: 833px;
    object-fit: cover;
    border-radius: 10px;
}

.artist_sort_options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist_label {
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.sort_bar {
   text-align: center;
   margin-top: 0;
   margin-bottom: 6px;
}

.flex {
    margin: 0;
    display: flex;
    margin-bottom: 2rem;
    background-color: rgb(221, 230, 241);
    border-radius: 10px;

}

.flex div:first-child {
    flex: 0;
    background-size: cover;
    background-position: center;
}

.flex div:last-child {
    margin: 2rem;
    flex: 2;
}

.flex h2 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
}

.flex h3 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}

.flex h3:last-of-type {
    margin-bottom: 0;
}

button {
    border-radius: 3px;
}