// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.concert_pic {
    border: none;
    height: 500px;
    width: 833px;
    object-fit: cover;
    border-radius: 10px;
}

.concert_sort_options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.concert_comment_container {
    border: none;
    padding: 8px;
    background-color: rgb(221, 230, 241);
    text-align: center;
    width: 50%;
    height: auto;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}