// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.concert_pic {
    border: none;
    height: 500px;
    width: 833px;
    object-fit: cover;
}

.concert_sort_options {
    display: flex;
}