.bio_container {
    border: none;
    padding: 10px;
    background: lightgray;
    text-align: left;
    width: 30%;
    height: auto;
    object-fit: cover;
}

.perma_buttons a{
    color: white;
    text-decoration: none;
}

.perma_buttons a:hover{
    color: gold;
    text-decoration: none;
}

.user_panel {
    background-color: rgb(221, 230, 241);
    padding-left: 6px;
    padding-right: 6px;
    width: 142px;
    height: 125px;
    border: 1px solid gray;
    border-radius: 5px;
}