.bio_container {
    border: none;
    padding: 10px;
    background: lightgray;
    text-align: left;
    width: 30%;
    height: auto;
    object-fit: cover;
}

.perma_buttons a{
    color: white;
    text-decoration: none;
}

.perma_buttons a:hover{
    color: gold;
    text-decoration: none;
}