// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
    max-width: 100%;
    max-height: 100%;
}

.divider {
    border-top: 4px solid cornflowerblue;
    border-radius: 3px;
}

.comment_divider {
    border-top: 1px solid lightgray;
}

.comment_container {
    border: none;
    padding: 10px;
    background: lightgray;
    text-align: left;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.image_container {
    border: none;
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.image_container img {
    width: 100%;
    height: 100%;
}

.venue_pic {
    border: none;
    height: 500px;
    width: 833px;
    object-fit: cover;
}

.venue_sort_options {
    display: flex;
}